.google-review-button {
  width: 100%;
  display: inline-block;
  padding: 10px ;
  background-color: #4285F4; /* Google blue */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.full-width-textarea {
  width: 100%; /* Set the width to 100% of its container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.google-review {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  //background-color: #4285F4;
  background: linear-gradient(to right, #4285F4, rgba(66, 133, 244, 0));
  color: #FFFFFF;
  border-radius: 5px;
}