<div style="height: 100%;" [innerHTML]="printWindow"></div>
<div style="padding-bottom: 10rem;"> </div>
<br>
<br>
<div class="fixed-bottom-buttons" *ngIf="printWindow">
    <div class="">
        <div class="row">
            <div class="col-6" style="padding: 0">
                <button
                    class="btn btn-danger btn-block"
                    [disabled]="buttonDisabled"
                    (click)="openCancelOrderDialog()"
                >
                    Reject Order
                </button>
            </div>
            <div class="col-6" style="padding: 0">
                <button
                    type="button"
                    [disabled]="buttonDisabled"
                    (click)="acceptOrder()"
                    class="btn btn-success btn-block"
                >
                    {{ buttonText }}
                </button>
            </div>
        </div>
    </div>
</div>
