<div class="container mb-3">
    <div class="form-modal">
        <div class="form-toggle">
            <button id="login-toggle" (click)="toggleLogin()">
                Track by order id
            </button>
            <button id="signup-toggle" (click)="toggleSignup()">
                Track by order detail
            </button>
        </div>

        <div id="login-form">
            <form [formGroup]="trackingForm" (ngSubmit)="searchByTrackingId()">
                <input
                    type="text"
                    placeholder="Enter tracking id"
                    formControlName="trackingId"
                    maxlength="10"
                />
                <small
                    *ngIf="checkForError('trackingId', 'required')"
                    class="text-danger"
                    >Please provide tracking id
                </small>
                <button type="submit" class="btn signup">Search Order</button>
                <hr />
                <p>
                    <a href="javascript:void(0)" (click)="toggleSignup()"
                        >Search by order detail</a
                    >
                </p>
            </form>
        </div>

        <div id="signup-form">
            <form [formGroup]="userForm">
                <select
                    class="form-select"
                    formControlName="restaurantName"
                    aria-label="Default select example"
                    (change)="changeRoomNo()"
                >
                    <option selected disabled value="">
                        Select Restaurant Name
                    </option>
                    <option
                        *ngFor="let data of restaurantData"
                        [ngValue]="data"
                    >
                        {{data?.['restaurantId']['restaurantName']}}
                    </option>
                </select>
                <small
                    *ngIf="checkForUserFormError('restaurantName', 'required')"
                    class="text-danger"
                    >Please provide restaurant name
                </small>
                <select
                    class="form-select"
                    formControlName="roomNumber"
                    aria-label="Default select example"
                >
                    <option selected disabled value="">
                        Select Room Number
                    </option>
                    <option
                        [value]="data['roomName']"
                        *ngFor="let data of currentRoomData"
                    >
                        {{ data.roomName | titlecase }}
                    </option>
                </select>
                <small
                    *ngIf="checkForUserFormError('roomNumber', 'required')"
                    class="text-danger"
                    >Please provide room name
                </small>
                <input
                    type="text"
                    maxlength="50"
                    formControlName="customerName"
                    placeholder="Enter Name"
                />
                <small
                    *ngIf="checkForUserFormError('customerName', 'required')"
                    class="text-danger"
                    >Please provide customer name
                </small>
                <button
                    type="button"
                    (click)="searchByName()"
                    class="btn signup"
                >
                    Search Order
                </button>
                <hr />
                <p>
                    <a href="javascript:void(0)" (click)="toggleLogin()"
                        >Search by order id</a
                    >
                </p>
            </form>
        </div>
    </div>
</div>
