<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Restaurant Customers
            </div>
            <br />
            <div class="row mx-2 my-1">
                <div class="form-group col-lg-6 col-md-12">
                    <input
                        type="text"
                        placeholder="Search"
                        class="form-control"
                        [(ngModel)]="searchTerm"
                        (keyup)="applyFilter()"
                    />
                </div>
              

                <div class="col-lg-2 col-md-12">
                    <button type="reset" class="btn btn-danger">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        Export
                    </button>
                </div>
            </div>
            <ngx-datatable
                #myTable
                class="bootstrap"
                [rows]="this.filteredData || rows"
                [columns]="[
                    { prop: 'name', name: 'Name' },
                    { prop: 'email', name: 'Email' },
                    { prop: 'phoneNumber', name: 'Phone Number' }
                ]"
                [columnMode]="ColumnMode.force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
            >
            </ngx-datatable>
        </div>
    </div>
</div>
