<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Restaurant Customers
            </div>
            <br />
            <div class="row mx-2 my-1">
                <div class="form-group col-lg-6 col-md-12">
                    
                    <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchTerm"
                        (keyup)="applyFilter()" />
                </div>

              

                <div class="col-lg-2 col-md-12">
                    <button type="reset" class="btn btn-danger">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        Export
                    </button>
                </div>
            </div>
            <div class="row mx-2 my-1">
                <div class="form-group col-lg-3 col-md-12">
                    <label for="loyalFilter">Loyal Customers:</label>
                    <select class="form-control" id="loyalFilter" [(ngModel)]="loyalFilter" (change)="applyFilter()">
                        <option value="">All</option>
                        <option value="true">Loyal</option>
                        <option value="false">Not Loyal</option>
                    </select>
                </div>

                <div class="form-group col-lg-3 col-md-12">
                    <label for="blockedFilter">Blocked Customers:</label>
                    <select class="form-control" id="blockedFilter" [(ngModel)]="blockedFilter"
                        (change)="applyFilter()">
                        <option value="">All</option>
                        <option value="true">Blocked</option>
                        <option value="false">Not Blocked</option>
                    </select>
                </div>
            </div>
            <ngx-datatable #myTable class="bootstrap" [rows]="this.filteredData || rows" [columns]="[
                { prop: 'name', name: 'Name' },
                { prop: 'email', name: 'Email' },
                { prop: 'phoneNumber', name: 'Phone Number' },
                { prop: 'loyal', name: 'Loyal', cellTemplate: loyalColumnTemplate },
                { prop: 'blocked', name: 'Blocked', cellTemplate: blockedColumnTemplate }
            ]" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10">
            </ngx-datatable>
            <ng-template #loyalColumnTemplate let-row="row">
                <button class="btn btn-info" (click)="toggleLoyalStatus(row)">
                    {{ row.loyal ? 'Remove Loyal' : 'Add Loyal' }}
                </button>
            </ng-template>

            <ng-template #blockedColumnTemplate let-row="row">
                <button class="btn btn-warning" (click)="toggleBlockedStatus(row)">
                    {{ row.blocked ? 'Unblock' : 'Block' }}
                </button>
            </ng-template>

        </div>
    </div>
</div>