<div mat-dialog-title class="head">
    <h3>Add New Category</h3>
    <i class="icon_close fr pointer" [mat-dialog-close]="true"></i>
</div>
<div class="col-12">
    <div class="d-flex border-bottom osahan-cart-item-profile bg-white p-3">
        <form
            class="needs-validation"
            novalidate=""
            style="width: -webkit-fill-available"
            accept-charset="utf-8"
        >
            <!-- ... (existing code) ... -->
            <div class="mb-3">
                <label for="category" class="form-label required"
                    >Enter category name</label
                >
                <input
                    type="text"
                    class="form-control mt-1"
                    name="category"
                    [ngClass]="categoryErrorFlag ? 'is-invalid' : ''"
                    (keyup)="changeCategoryFlag()"
                    maxlength="100"
                    [(ngModel)]="category"
                    [required]="true"
                    value=""
                />
                <small *ngIf="categoryErrorFlag" class="text-danger"
                    >Please provide category name</small
                >
            </div>

            <div class="mb-3">
                <label for="categoryPriority" class="form-label"
                    >Enter category priority</label
                >
                <input
                    type="number"
                    class="form-control mt-1"
                    name="categoryPriority"
                    [(ngModel)]="categoryPriority"
                />
            </div>
            <div class="mb-3">
                <label for="">Select Time Availability:</label>
                <ng-select
                    name="timeAvailability"
                    [(ngModel)]="timeAvailability"
                   
                >
                    <ng-option [value]="true">Yes</ng-option>
                    <ng-option [value]="false">No</ng-option>
                </ng-select>
            </div>
            <div *ngIf="timeAvailability">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="timeInput">Start time:</label>
                        <input
                            type="time"
                            class="form-control"
                            [(ngModel)]="startTime"
                            id="timeInput"
                            name="startTime"
                        />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="timeInput">End time:</label>
                        <input
                            type="time"
                            class="form-control"
                            [(ngModel)]="endTime"
                            id="timeInput"
                            name="endTime"
                        />
                    </div>
                </div>
            </div>

            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="exampleCheckbox"
                    name="categoryAvailable"
                    [(ngModel)]="categoryAvailable"
                />
                <label class="form-check-label" for="exampleCheckbox"
                    >Category unavailable.
                </label>
            </div>

            <!-- <input type="checkbox" class="form-check-input mt-1" name="categoryAvailable"  />
                <label for="categoryAvailable" class="form-label">Category Available</label> -->

            <button
                type="submit"
                class="btn btn_1 mt-3 gradient w-100"
                (click)="addCategory()"
            >
                {{ data ? "Update Category" : "Add Category" }}
            </button>
            <!-- ... (existing code) ... -->
        </form>
    </div>
</div>
