<div class="container padding-bottom-3x mb-1">
    <div class="card mb-3">
        <div class="p-4 text-center text-white text-lg bg-dark rounded-top">
            <span class="text-uppercase">Tracking Order No - </span
            ><span class="text-medium"
                >{{ orderId }} <i class="fas fa-copy ml-1" (click)="copyText()"></i>
            </span>
        </div>

        <div class="card-body">
            <div
                class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x"
            >
                <div class="step completed">
                    <div class="step-icon-wrap">
                        <div class="step-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                    </div>
                    <h4 class="step-title">Order Placed</h4>
                </div>
                <div class="step processing">
                    <div class="step-icon-wrap">
                        <div class="step-icon">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <h4 class="step-title">Order under prepration</h4>
                </div>

                <div class="step">
                    <div class="step-icon-wrap">
                        <div class="step-icon">
                            <i class="fa-solid fa-clock"></i>
                        </div>
                    </div>
                    <h4 class="step-title">Order Completed</h4>
                </div>
            </div>

            <div class="text-center mt-3">
                The restaurant has received your order, and preparation is
                underway.
                <br />
                <button type="button" class="track-order btn btn-secondary btn-md mt-2">
                    Track Order
                </button>
                <button type="button" (click)="openContactDialog()" class="btn btn-info btn-md mt-2 ml-2">
                    Contact Restaurant
                </button>
            </div>
        </div>
    </div>
</div>
