<div mat-dialog-title class="head">
    <h3>Reject Order</h3>
    <i class="icon_close fr pointer" [mat-dialog-close]="true"></i>
</div>
<div class="col-12">
    <div class="d-flex border-bottom osahan-cart-item-profile bg-white p-3">
        <form
            class="needs-validation"
            novalidate=""
            accept-charset="utf-8"
            [formGroup]="cancelOrderForm"
            (submit)="submitForm()"
        >
            <div class="mb-8">
                <label for="name" class="form-label">Reason</label>
                <textarea
                    class="form-control form-textarea mb-3"
                    rows="3"
                    formControlName="reason"
                    [ngClass]="
                        checkForError('reason', 'required') ? 'is-invalid' : ''
                    "
                    placeholder="Reason"
                ></textarea>
            </div>

            <!-- add a back button -->
            <!--
            <button
                type="button"
                class="btn btn_1 gradient w-100"
                (click)="back()"
            >

                <i class="fa-solid fa-arrow-left"></i> Back
            </button>



            <button type="submit" class="btn btn_1 gradient w-100">
                <i class="fa-solid fa-rectangle-xmark"></i> Cancel Order
            </button> -->

            <!-- these buttons should be side by side and not stacked -->

            <div class="row">
                <div class="col-6">
                    <button
                        type="button"
                        class="btn btn_1 gradient w-100"
                        (click)="back()"
                    >
                        Back
                    </button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn_1 gradient w-100">
                        Reject Order
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
