.main-padding {
    padding-top: 3.5rem;
}

.example-spacer {
    flex: 1 1 auto;
}
.icon-display {
    font-size: 30px;
}
.fixed-top {
    z-index: 3;
}

.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
}

.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
mat-sidenav {
    width: 50%;
}
@media (max-width: 801px) {
    mat-sidenav {
        width: 100%;
    }
}
.color{
    background-color:#FF9542 ;
    color: #352E29;
}