.small-dialog-header {
    font-size: 18px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -ms-border-radius: 4px 4px;
    border-radius: 4px 4px;
    display: inline-block;
    background-color: #f6f6f6;
    padding: 0px 20px 15px 0px;
  }
  .small-dialog-header h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    max-width: 90%;
  }
  .mat-dialog-content {
    background-color: white;
  }
  .content {
    padding: 5px 0px 0 0px;
  }
  
  .content h5 {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 15px;
  }
  .content ul {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
  }
  .content ul li span {
    float: right;
  }
  
  .numbers-row {
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid #d2d8dd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 25px;
  }
  .numbers-row input {
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    left: 50%;
    padding: 5px;
    border: none;
    margin-left: -20px;
    font-weight: 500;
    background: none;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .numbers-row input:focus {
    outline: none;
    box-shadow: none;
  }
  .numbers-row .button_inc {
    cursor: pointer;
    position: absolute;
    width: 33px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    z-index: 2;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 300 !important;
    color: #999;
  }
  .numbers-row .button_inc:hover {
    color: #e54750;
  }
  .numbers-row .dec,
  .numbers-row .inc {
    top: -1px;
  }
  .numbers-row .dec {
    left: 0;
  }
  .numbers-row .inc {
    right: 0;
  }
  a.close_panel_mobile {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #fff;
    font-size: 26px;
    font-size: 1.625rem;
    display: none;
  }
  a.close_panel_mobile {
    display: inline-block;
    margin-top: -13px;
    color: grey;
  }
  .btn_1 {
    width: 16rem;
  }
  @media screen and (min-width: 768px) {
    .btn_1 {
      width: 28rem;
    }
    .custom-select{
      min-width: 250px;
    }
  }
  .align-center{
    display: flex;
    justify-content: center;
  }
  ///Different Style
