<div class="small-dialog-header">
    <h3>Select Table Name</h3>
    <a mat-dialog-close class="close_panel_mobile"
        ><span class="icon_close_alt"></span
    ></a>
</div>
<mat-dialog-content>
    <!-- <form [formGroup]="form" class="container mt-4">
        <div class="form-group">
            <label for="tableName" class="required">Table Name</label>
            <input
                type="text"
                [ngClass]="
                    checkForError('tableName', 'required') ? 'is-invalid' : ''
                "
                id="tableName"
                class="form-control"
                maxlength="5"
                formControlName="tableName"
            />
        </div>
    </form> -->
    <!-- <div class="container mt-3">
        <label id="example-radio-group-label">Please select a table</label>

        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="selectedTable"
            (change)="onSubmit()"
        >
            <mat-radio-button
                class="example-radio-button"
              
                *ngFor="let option of tableData"
                [disabled]="
                    !option.isAvailable &&
                    customerDetailId !== option.customerId
                "
                [value]="option.tableName"
            >
              Table  {{ option.tableName }}
            </mat-radio-button>
        </mat-radio-group>
    </div> -->
    <div class="container mt-3">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                (keyup)="filterTables($event)"
                placeholder="Search for room"
            />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                    ><i class="fa-solid fa-magnifying-glass"></i
                ></span>
            </div>
        </div>
        <div
            *ngIf="tableData.length === 0"
            class="text-center"
            style="width: 100%"
        >
            <span>
                No available table matches the provided search criteria.</span
            >
        </div>
        <ng-container *ngFor="let option of tableData">
            <div
                class="square"
                (click)="onSubmit(option)"
                *ngIf="
                    !(!option.isAvailable &&
                    customerDetailId !== option.customerId)
                "
            >
                <span> Table {{ option.tableName | titlecase }}</span>
            </div>
        </ng-container>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <button
                    type="reset"
                    class="btn_1 full-width"
                    (click)="onSubmit()"
                >
                    Submit
                </button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
