<div id="register_bg">
  <div id="register">
    <aside>
      <figure>
        <img src="/assets/img/logo_sticky.svg" width="140" height="35" alt="" />
      </figure>
      <h4 class="my-4 text-center">Reset Password..</h4>

      <form [formGroup]="resetForm" autocomplete="off" (submit)="submitForm()">
        <div class="form-group">
          <input class="form-control" type="password" id="password1" formControlName="password" #password1
            placeholder="Password" maxlength="30" />
          <button type="button" role="button" (click)="togglePassowrdHide(password1)" aria-label="Show Password"
            title="Show Password" tabindex="0" class="my-toggle hideShowPassword-toggle-show" aria-pressed="false"
            style="position: absolute; right: 0px; top: 10%">
            {{ passwordFlag ? "Show" : "Hide" }}
          </button>

          <i class="icon_lock_alt"></i>
          <span class="text-danger error-message" *ngIf="checkForError('password', 'required')">Password is
            required.</span>
          <span class="text-danger error-message" *ngIf="checkForError('password', 'pattern')">Password must be at least
            8 characters long and include a
            combination of uppercase letters, lowercase letters, numbers, and
            special characters.</span>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" formControlName="confirmPassword" id="password2" maxlength="30"
            #password2 placeholder="Confirm Password" />
          <button type="button" role="button" (click)="toggleConfirmPassword(password2)" aria-label="Show Password"
            title="Show Password" tabindex="0" class="my-toggle hideShowPassword-toggle-show" aria-pressed="false"
            style="position: absolute; right: 0px; top: 10%">
            {{ confirmPasswordFlag ? "Show" : "Hide" }}
          </button>
          <i class="icon_lock_alt"></i>
        </div>
        <span class="text-danger error-message" *ngIf="checkForError('confirmPassword', 'required')">Confirm Password is
          required.</span>
        <span class="text-danger error-message" *ngIf="checkForError('confirmPassword', 'confirmedValidator')">Password
          and Confirm Password must be match.</span>
        <span class="text-danger error-message" *ngIf="checkForError('confirmPassword', 'pattern')">Confirm Password
          must be at least 8 characters long and include a
          combination of uppercase letters, lowercase letters, numbers, and
          special characters..</span>
        <button class="btn_1 gradient full-width">Reset Password!</button>
        <div class="text-center mt-2">
          <small>Back to Login
            <strong><a routerLink="/admin/login">Sign In</a></strong></small>
        </div>
      </form>
      <!-- <div class="copy">© 2020 FooYes</div> -->
    </aside>
  </div>
</div>