<div class="small-dialog-header">
    <h3>Please select a room</h3>
    <a mat-dialog-close class="close_panel_mobile"
        ><span class="icon_close_alt"></span
    ></a>
</div>
<mat-dialog-content class="no-scroll">
    <div class="mt-3">
        <mat-radio-group
            aria-labelledby="example-radio-group-label "
            class="example-radio-group"
            [(ngModel)]="selectedRoom"
            (change)="onSubmit()"
        >
            <mat-radio-button
                class="example-radio-button d-block"
                
                name="selectedRoom"
                *ngFor="let option of roomData"
                [value]="option"
            >
                <div class="py-2 px-3">
                    <div class="first pl-2 d-flex py-2">
                        <div class="border-left pl-2">
                            <span class="head">
                                Room {{ option.roomName | titlecase }}</span
                            >
                        </div>
                    </div>
                </div>
            </mat-radio-button>
        </mat-radio-group>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" class="btn btn_1 gradient w-100" (click)="onSubmit()">
        Proceed to payment
    </button>
</mat-dialog-actions>
