.fa-trash {
    vertical-align: -webkit-baseline-middle;
    margin-right: .5rem;
  }

  .icon-text {
    font-size: 16px;
    margin-left: 1rem;
    color: blue;
  }
  
  .icon-text i {
    margin-right: 4px;
  }

