<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-light">Change Password</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="oldPassword" class="required"
                            >Old password</label
                        >
                        <div class="input-group">
                            <input
                                [type]="hidePassword ? 'password' : 'text'"
                                id="oldPassword"
                                class="form-control"
                                maxlength="20"
                                type="password"
                                formControlName="oldPassword"
                                [ngClass]="{
                                    'is-invalid':
                                        checkForError(
                                            'oldPassword',
                                            'required'
                                        ) ||
                                        checkForError('oldPassword', 'pattern')
                                }"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-outline-secondary"
                                    type="button"
                                    id="show-hide-btn"
                                    (click)="togglPasswordVisibility()"
                                >
                                    {{ hidePassword ? "Show" : "Hide" }}
                                </button>
                            </div>
                        </div>

                        <span
                            class="text-danger error-message"
                            *ngIf="checkForError('oldPassword', 'required')"
                            >Old password is required.</span
                        >
                        <span
                            class="text-danger error-message"
                            *ngIf="checkForError('oldPassword', 'pattern')"
                            >Password must be at least 8 characters long and
                            include a combination of uppercase letters,
                            lowercase letters, numbers, and special
                            characters.</span
                        >
                    </div>
                    <div class="form-group">
                        <!--<label for="password">Password:</label>
          <input [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" id="password" placeholder="Enter your password">
          <button (click)="togglePasswordVisibility()">{{ hidePassword ? 'Show' : 'Hide' }}</button>-->

                        <label for="newPassword" class="required"
                            >New password</label
                        >
                        <div class="input-group">
                            <input
                                [type]="newPasswordHideFlag ? 'password' : 'text'"
                                id="newPassword"
                                class="form-control"
                                maxlength="20"
                                formControlName="newPassword"
                                [ngClass]="{
                                    'is-invalid':
                                        checkForError(
                                            'newPassword',
                                            'required'
                                        ) ||
                                        checkForError('newPassword', 'pattern')
                                }"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-outline-secondary"
                                    type="button"
                                    id="show-hide-btn"
                                    (click)="toggleNewPassword()"
                                >
                                    {{ newPasswordHideFlag ? "Show" : "Hide" }}
                                </button>
                            </div>
                        </div>

                        <span
                            class="text-danger error-message"
                            *ngIf="checkForError('newPassword', 'required')"
                            >New Password is required.</span
                        >
                        <span
                            class="text-danger error-message"
                            *ngIf="checkForError('newPassword', 'pattern')"
                            >Password must be at least 8 characters long and
                            include a combination of uppercase letters,
                            lowercase letters, numbers, and special
                            characters.</span
                        >
                    </div>
                    <div class="form-group">
                        <label for="cnPassword" class="required"
                            >Confirm new password</label
                        >
                        <div class="input-group">
                            <input
                                id="cnPassword"
                                [type]="
                                    confirmNewPasswordHideFlag
                                        ? 'password'
                                        : 'text'
                                "
                                class="form-control"
                                maxlength="20"
                                type="password"
                                formControlName="cnPassword"
                                [ngClass]="{
                                    'is-invalid':
                                        checkForError(
                                            'cnPassword',
                                            'required'
                                        ) ||
                                        checkForError('cnPassword', 'pattern')
                                }"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-outline-secondary"
                                    type="button"
                                    id="show-hide-btn"
                                    (click)="toggleConfirmNewPassword()"
                                >
                                    {{
                                        confirmNewPasswordHideFlag
                                            ? "Show"
                                            : "Hide"
                                    }}
                                </button>
                            </div>
                        </div>
                        <span
                            class="text-danger error-message"
                            *ngIf="checkForError('cnPassword', 'required')"
                            >Confirm password is required.</span
                        >
                        <span
                            class="text-danger error-message"
                            *ngIf="checkForError('cnPassword', 'pattern')"
                            >Password must be at least 8 characters long and
                            include a combination of uppercase letters,
                            lowercase letters, numbers, and special
                            characters.</span
                        >
                        <span
                            class="text-danger error-message"
                            *ngIf="
                                checkForError(
                                    'cnPassword',
                                    'confirmedValidator'
                                )
                            "
                            >Password and Confirm Password must be match.</span
                        >
                    </div>
                    <button type="submit" class="btn btn_1 gradient w-100">
                        <i class="fa-solid fa-floppy-disk"></i> Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
