.mat-dialog-container {
    padding: 0px;
}
.head {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    border-bottom: 1px solid #ededed;
    padding: 17px 20px 12px 20px;
    background-color: #454545;
    color: #fff;
}
.head h3 {
    font-size: 21px;
    font-size: 1.3125rem;
    margin: 0;
    display: inline-block;
    color: #fff;
}
