<div class="small-dialog-header">
    <h3 class="text-danger">{{ data.title }}</h3>
    <a mat-dialog-close class="close_panel_mobile"
        ><span class="icon_close_alt"></span
    ></a>
</div>

<mat-dialog-content>
    <div class="my-3">
        <h5>
            {{ data.message }}
        </h5>
        <div>
            <button type="button" class="btn btn-warning">
                Contact Restaurant
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <a class="btn_1 gray delete" [mat-dialog-close]="true">
        {{ cancelBtnText }}</a
    >

    <a
        class="btn_1 gray approve ml-2"
        *ngIf="data?.yesButtonFlag != false"
        (click)="okAction()"
    >
        {{ successBtnText }}</a
    >
</mat-dialog-actions>
