<div id="register_bg">
  <div id="register">
    <aside>
      <figure>
        <img src="/assets/img/logo_sticky.svg" width="140" height="35" alt="" />
      </figure>
      <h4 class="my-4 text-center">Retrive password</h4>

      <form autocomplete="off" [formGroup]="forgotPasswordForm" (submit)="submitForm()">
        <div class="form-group">
          <input class="form-control required" type="email" formControlName="email" placeholder="Email" />
          <i class="icon_mail_alt"></i>
          <span class="text-danger error-message" *ngIf="checkForError('email', 'required')">Email is required.</span>
          <span class="text-danger error-message" *ngIf="checkForError('email', 'email')">Please provide a valid
            email.</span>
        </div>

        <button type="submit" class="btn_1 gradient full-width">Submit</button>
        <div class="text-center mt-2">
          <small>Already have password?
            <strong><a routerLink="/admin/login">Sign In</a></strong></small>
        </div>
      </form>
      <!-- <div class="copy">© 2020 FooYes</div> -->
    </aside>
  </div>
</div>