<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-light">Available Promocode</div>
            <br />
            <div class="container">
                <h2>Promo Code List</h2>
                <ngx-datatable
                    class="material"
                    [rows]="promoCodes"
                    [columns]="columns"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                >
                </ngx-datatable>
            </div>
            <div class="col-md-12">
                <div class="row mb-4 pb-2">
                    <div class="col-md-12">
                        <div class="card offer-card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <img
                                        src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    />
                                    OSAHANEAT50
                                </h5>
                                <h6 class="card-subtitle mb-2 text-block">
                                    Get 50% OFF on your first Food Line order
                                </h6>
                                <p class="card-text">
                                    Use code WELCOMEBACK & get 60% off on orders
                                    above ₹159. Maximum discount: ₹100.
                                </p>
                                <a href="#" class="card-link">COPY CODE</a>
                                <a href="#" class="card-link">KNOW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
