.btn_reserve_fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 2;
}
.btn_reserve_fixed {
    display: block;
}

.head {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    border-bottom: 1px solid #ededed;
    padding: 17px 20px 12px 20px;
    background-color: #454545;
    color: #fff;
}
.head h3 {
    font-size: 21px;
    font-size: 1.3125rem;
    margin: 0;
    color: #fff;
}
.mat-dialog-container {
    padding: 0px;
}
.mat-dialog-content {
    max-height: 85vh;
}
a.close_panel_mobile {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #fff;
    font-size: 26px;
    font-size: 1.625rem;
    display: none;
}
a.close_panel_mobile {
    display: inline-block;
    margin-top: 0.5rem;
}
