
QrSay ("we" and "us") is the operator of (https://digitalmenu-391805.web.app) ("Website"). By placing an order through this Website you will be agreeing to the terms below. These are provided to ensure both parties are aware of and agree upon this arrangement to mutually protect and set expectations on our service.


1. General

Subject to stock availability. We try to maintain accurate stock counts on our website but from time-to-time there may be a stock discrepancy and we will not be able to fulfill all your items at time of purchase. In this instance, we will fulfill the available products to you, and contact you about whether you would prefer to await restocking of the backordered item or if you would prefer for us to process a refund.


2. Shipping Costs

Shipping costs are calculated during checkout based on weight, dimensions and destination of the items in the order. Payment for shipping will be collected with the purchase.

This price will be the final price for shipping cost to the customer.

delivery timeline

Delivery Timeline are done according to the info provided by restaurant in general order will be deliver within 2 hour.

3. Returns

3.1 Return Due To Change Of Mind

QrSay will happily accept returns due to change of mind as long as a request to return is received by us within 1 days of receipt of item and are returned to us in original packaging, unused and in resellable condition.

Return shipping will be paid at the customers expense and will be required to arrange their own shipping.
Once returns are received and accepted, refunds will be processed to store credit for a future purchase. We will notify you once this has been completed through email.
(QrSay) will refund the value of the goods returned but will NOT refund the value of any shipping paid.


3.2 Warranty Returns

QrSay will happily honor any valid warranty claims, provided a claim is submitted within 90 days of receipt of items.

Customers will be required to pre-pay the return shipping, however we will reimburse you upon successful warranty claim.

Upon return receipt of items for warranty claim, you can expect QrSay to process your warranty claim within 7 days.

Once warranty claim is confirmed, you will receive the choice of:

(a) refund to your payment method

(b) a refund in store credit

(c) a replacement item sent to you (if stock is available)


4. Delivery Terms

4.1 Transit Time Domestically

In general, domestic shipments are in transit for 1 days



4.3 Dispatch Time

Orders are usually dispatched within  20 minutes of payment of order



4.4 Change Of Delivery Address

For change of delivery address requests, we are able to change the address at any time before the order has been dispatched.





4.7 Items Out Of Stock

If an item is out of stock, we will wait for the item to be available before dispatching your order. Existing items in the order will be reserved while we await this item.


4.8 Delivery Time Exceeded

If delivery time has exceeded the forecasted time, please contact us so that we can conduct an investigation.




6. Parcels Damaged In Transit

If you find a parcel is damaged in-transit, if possible, please reject the parcel from the courier and get in touch with our customer service. If the parcel has been delivered without you being present, please contact customer service with next steps.




8. Cancellations

If you change your mind before you have received your order, we are able to accept cancellations at any time before the order has been dispatched. If an order has already been dispatched, please refer to our refund policy.


9. Insurance

Parcels are insured for loss and damage up to the value as stated by the courier.


9.1 Process for parcel damaged in-transit

We will process a refund or replacement as soon as the courier has completed their investigation into the claim.


9.2 Process for parcel lost in-transit

We will process a refund or replacement as soon as the courier has conducted an investigation and deemed the parcel lost.


10. Customer service

For all customer service enquiries, please email us at qrsayteam@gmail.com or  
    <!-- Address: GF-08, Ansal Sundaram, RDC, Ghaziabad
    ,Uttar Pardesh (Pin code :201002) -->
