<div mat-dialog-title class="head">
    <h3>Login</h3>
    <i class="icon_close fr pointer" [mat-dialog-close]="true"></i>
</div>
<div class="col-12">
    <div class="d-flex border-bottom osahan-cart-item-profile bg-white p-3">
        <form
            [formGroup]="phoneNumberForm"
            (ngSubmit)="submitForm()"
            class="needs-validation"
            novalidate=""
            accept-charset="utf-8"
        >
            <div class="mb-3">
                <label for="address" class="form-label"
                    >Please provide your number.
                </label>
                <input
                    type="number"
                    class="form-control mt-1"
                    name="phoneNumber"
                    formControlName="phoneNumber"
                />
                <small
                    *ngIf="checkForError('phoneNumber', 'required')"
                    class="text-danger"
                >
                    Phone number is required.</small
                >
                <small
                    *ngIf="checkForError('phoneNumber', 'pattern')"
                    class="text-danger"
                >
                    Please enter a valid 10-digit phone number.</small
                >
            </div>

            <button type="submit" class="btn btn_1 gradient w-100">
                Submit
            </button>
        </form>
    </div>
</div>
