<footer>
    <div class="wave footer"></div>
    <div class="container margin_60_40 fix_mobile">
        <div class="row">
            <div class="col-lg-3 col-md-6" id="headingone">
                <h3>Quick Links</h3>
                <div>
                    <ul>
                        <li>
                            <a routerLink="/contact">Add your restaurant</a>
                        </li>

                        <li>
                            <a routerLink="/admin/login"
                                >Restaurant Owner Login</a
                            >
                        </li>

                        <li><a routerLink="/contact">Contacts</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" id="headingone">
                <h3>Policy</h3>

                <div>
                    <ul>
                        <li>
                            <a routerLink="/cancellation-refund-policy"
                                >Cancellation and refund
                            </a>
                        </li>
                        <li>
                            <a routerLink="/shipping-delivery-policy"
                                >Shipping and delivery
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" id="headingOne">
                <h3>Contacts</h3>
                <div>
                    <ul>
                        <li> <p>&copy; 2024 TPSG & CO. All rights reserved.</p></li>
                        <li>
                            <i class="icon_house_alt"></i> GF-08, Ansal
                            Sundaram, RDC, Ghaziabad ,Uttar Pardesh (Pin code
                            :201002)
                        </li>
                       
                        <li><i class="icon_mobile"></i> +91 9899921548</li>
                        <li>
                            <i class="icon_mail_alt"></i
                            ><a href="mailto:qrsayteam@gmail.com">
                                qrsayteam@gmail.com</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" id="headingOne">
                <h3>Keep in touch</h3>
                <div>
                    <div id="newsletter">
                        <div id="message-newsletter"></div>
                        <form
                            method="post"
                            action="http://www.ansonika.com/fooyes/assets/newsletter.php"
                            name="newsletter_form"
                            id="newsletter_form"
                        >
                            <div class="form-group">
                                <input
                                    type="email"
                                    name="email_newsletter"
                                    id="email_newsletter"
                                    class="form-control"
                                    placeholder="Your email"
                                />
                                <button type="submit" id="submit-newsletter">
                                    <i class="arrow_carrot-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row-->
        <hr />
        <div class="row add_bottom_25">
            <div class="col-lg-6">
                <ul class="footer-selector clearfix">
                    <li>
                        <div class="styled-select lang-selector">
                            <select>
                                <option value="English" selected>
                                    English
                                </option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="terms-condition">Terms and conditions</a></li>
                    <li><a href="privacy-policy">Privacy</a></li>
                    <li><span>© TPSG & CO.</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
