/* You can add global styles to this file, and also import other style files */
// @import url("./assets/css/slick.min.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("./assets/css/style.css");
@import url("./assets/css/globalcss.css");
@import url("./assets/css/master.css");
@import url("./assets/css/common.css");
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
html,
body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: prompt, sans-serif;
}
body {
    margin: 0;
}
.form-control {
    height: 36px;
}
.datatable-header {
    background: #f3723b;
    color: #fff;
    font-weight: bold;
}
.purple-shade {
    background-color: #8a2be2;
    color: white;
}
.active-button:hover {
    background-color: #8a2be2;
    color: white;
}
.pointer {
    cursor: pointer;
}
.cursor-text {
    cursor: text;
}
.d-inline-block {
    display: inline-block;
}
.fr {
    float: right;
}
.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
}
.app-full-order-dialog .mat-dialog-container {
    background-color: cornsilk;
}

.add-item-dialog .mat-dialog-container {
    background-color: #f6f6f6;

    //  min-width: 19rem;
}
@media only screen and (max-width: 767px) {
    .add-item-dialog {
        min-width: 77vw;
    }
}
button[mat-menu-item]:focus {
    outline: none;
}
button:focus {
    outline: none;
}
.green-snackbar {
    background: #66bb6a;
    color: white;
}
.green-snackbar button {
    background-color: #66bb6a;
    color: white;
    border: none;
}
.red-snackbar {
    z-index: 1000000;
    background: #f44336;
    color: white;
}

.red-snackbar button {
    background-color: #f44336;
    color: white !important;
    border: none;
}
.vegIcon {
    height: 1rem;
    margin-right: 5px;
}
.badge {
    font-size: 0.8rem;
}
ng-select.ng-invalid .ng-select-container {
    border-color: #f4516c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
.mat-tooltip {
    background-color: #3d4152;
    font-size: 12px !important;
}
@media screen and (min-width: 768px) {
    .add-item-dialog .mat-dialog-container {
        min-width: 30rem;
    }
}
.required::after {
    content: "*";
    color: red;
    // font-size: 20px;
}

.visually-hidden {
    display: none;
}

// .mat-dialog-container {
//    overflow: scroll !important;
// }
.mat-tab-header {
    overflow-x: scroll !important;
}

.mat-tab-label-container {
    overflow: visible !important;
}
.mat-tab-header::-webkit-scrollbar {
    display: none;
}
.mat-step-text-label {
    white-space: pre-line;
}
.mat-radio-label-content {
    max-width: 100%;
}