<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-light">Restaurant Orders</div>
            <br />
            <div class="row mx-2 my-1">
                <div class="form-group col-lg-6 col-md-12">
                    <input
                        type="text"
                        [(ngModel)]="searchTerm"
                        (keyup)="applyFilter()"
                        placeholder="Search"
                        class="form-control"
                    />
                </div>
                <div class="col-1">
                    <button class="btn btn-danger" (click)="reset()">Reset</button>
                </div>
                <!-- <div class="col-1">
                    <button class="btn btn-success">Search</button>
                </div> -->

                <div class="col-lg-4 col-md-12" style="text-align: end">
                    <button type="reset" class="btn btn-danger" (click)="exportExcel()">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        Export
                    </button>
                </div>
            </div>
            <div class="row mx-2 my-1">
                <div class="mb-3 col-md-3">
                    <mat-form-field>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            placeholder="Choose a start date"
                            (ngModelChange)="applyFilter($event, 'startDate')"
                            [(ngModel)]="startDate"
                            disabled
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker  disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="mb-3 col-md-3">
                    <mat-form-field>
                        <input
                            matInput
                            [matDatepicker]="endDatePicker"
                            (ngModelChange)="applyFilter($event,'endDate')"
                            placeholder="Choose a end date"
                            [(ngModel)]="endDate"
                            disabled
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="endDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
               
            </div>
            <ngx-datatable
                #myTable
                class="bootstrap"
                [rows]="this.filteredData || rows"
                [columns]="columns"
                [columnMode]="ColumnMode.force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [limit]="10"
                [scrollbarH]="true"
            >
                <ngx-datatable-column
                    name="Action"
                    prop="action"
                    [sortable]="false"
                >
                    <ng-template
                        #menu
                        let-row="row"
                        let-value="value"
                        ngx-datatable-cell-template
                    >
                        <i
                            class="fa-solid fa-ellipsis-vertical fa-xl pointer"
                            [matMenuTriggerFor]="menu"
                        ></i>
                        <div>
                            <mat-menu #menu="matMenu">
                                <button
                                    class="pointer"
                                    (click)="viewTransferDetails(row)"
                                    mat-menu-item
                                >
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    View Transfer Details
                                </button>
                            </mat-menu>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="order_id"> </ngx-datatable-column>
                <ngx-datatable-column prop="id" name="Payment Id">
                </ngx-datatable-column>
                <ngx-datatable-column prop="amount">
                    <ng-template
                        let-value="value"
                        let-row="row"
                        ngx-datatable-cell-template
                    >
                        <span>{{
                            value / 100 | currency : "INR" : "symbol" : "1.0-0"
                        }}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="status"> </ngx-datatable-column>
                <ngx-datatable-column prop="method"> </ngx-datatable-column>
                <ngx-datatable-column prop="contact"> </ngx-datatable-column>
                <ngx-datatable-column prop="created_at">
                    <ng-template
                        let-value="value"
                        let-row="row"
                        ngx-datatable-cell-template
                    >
                        <span>{{ value * 1000 | date : "medium" }}</span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
