<div class="row">
    <div class="col-lg-12"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-light">Add Dishes</div>
            <div class="card-body">
                <mat-stepper
                    linear
                    #stepper
                    (selectionChange)="selectionChange($event)"
                >
                    <mat-step
                        [stepControl]="dishesForm"
                        [editable]="isEditable"
                    >
                        <form [formGroup]="dishesForm">
                            <ng-template matStepLabel
                                >Fill out dish details</ng-template
                            >

                            <div class="row g-2">
                                <div class="mb-3 col-md-6">
                                    <label
                                        for="dishName"
                                        class="form-label required"
                                        >Dish Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        [ngClass]="
                                            checkForError(
                                                'dishName',
                                                'required'
                                            )
                                                ? 'is-invalid'
                                                : ''
                                        "
                                        maxlength="50"
                                        name="dishName"
                                        formControlName="dishName"
                                        placeholder="Dish Name"
                                        required=""
                                    />
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishName',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide dish name</small
                                    >
                                </div>
                                <div class="mb-3 form-group col-md-4">
                                    <label for="dishType" class="required"
                                        >Dish Category</label
                                    >
                                    <ng-select
                                        class="custom"
                                        name="dishType"
                                        formControlName="dishCategory"
                                        [multiple]="false"
                                    >
                                        <ng-option
                                            [value]="data._id"
                                            *ngFor="let data of categories"
                                            >{{
                                                data.categoryName | titlecase
                                            }}</ng-option
                                        >
                                    </ng-select>
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishCategory',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide dish category</small
                                    >
                                </div>
                                <div class="mt-4 col-md-2">
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        (click)="openCategoryDialog()"
                                    >
                                        Add New Category
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="mb-3 form-group col-md-3">
                                    <label for="applyDiscount"
                                        >Apply Discount:</label
                                    >

                                    <ng-select
                                        class="custom"
                                        id="applyDiscount"
                                        formControlName="applyDiscount"
                                        (change)="checkForDishDiscountFlag()"
                                        name="applyDiscount"
                                    >
                                        <ng-option [value]="false"
                                            >No</ng-option
                                        >
                                        <ng-option [value]="true"
                                            >Yes</ng-option
                                        >
                                    </ng-select>
                                </div>
                                <div class="col-md-3">
                                    <label
                                        for="inlineFormInputGroup"
                                        class="form-label required"
                                        >{{
                                            dishDiscountFlag
                                                ? "Dish Discounted Price"
                                                : "Dish Price"
                                        }}</label
                                    >

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div
                                                class="input-group-text"
                                                style="height: 36px"
                                            >
                                                ₹
                                            </div>
                                        </div>
                                        <input
                                            type="number"
                                            onwheel="this.blur()"
                                            [ngClass]="
                                                checkForError(
                                                    'dishPrice',
                                                    'required'
                                                )
                                                    ? 'is-invalid'
                                                    : ''
                                            "
                                            class="form-control"
                                            formControlName="dishPrice"
                                            id="inlineFormInputGroup"
                                            placeholder="{{
                                                dishDiscountFlag
                                                    ? 'Dish Discounted Price'
                                                    : 'Dish Price'
                                            }}"
                                        />
                                    </div>
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishPrice',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide
                                        {{
                                            dishDiscountFlag
                                                ? "dish discounted price"
                                                : "dish price"
                                        }}</small
                                    >
                                </div>
                                <div class="col-md-3" *ngIf="dishDiscountFlag">
                                    <label
                                        for="inlineFormInputGroup"
                                        class="form-label required"
                                        >Dish Actual Price</label
                                    >

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div
                                                class="input-group-text"
                                                style="height: 36px"
                                            >
                                                ₹
                                            </div>
                                        </div>
                                        <input
                                            type="number"
                                            [ngClass]="
                                                checkForError(
                                                    'dishActualPrice',
                                                    'required'
                                                )
                                                    ? 'is-invalid'
                                                    : ''
                                            "
                                            class="form-control"
                                            formControlName="dishActualPrice"
                                            id="inlineFormInputGroup"
                                            placeholder="Dish Actual Price"
                                        />
                                    </div>
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishActualPrice',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide dish actual price</small
                                    >
                                </div>

                                <div class="col-md-3">
                                    <label
                                        for="type"
                                        class="form-label required"
                                        >Dish Type</label
                                    >
                                    <ng-select formControlName="dishType">
                                        <ng-option
                                            aria-selected="true"
                                            value="veg"
                                        >
                                            <img
                                                src="assets/img/vegGreenIcon.png"
                                                alt="veg"
                                                class="vegIcon"
                                            />Veg</ng-option
                                        >
                                        <ng-option value="nonVeg"
                                            ><img
                                                src="assets/img/nonVeg.png"
                                                alt="veg"
                                                class="vegIcon"
                                            />Non-Veg</ng-option
                                        >
                                    </ng-select>
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishType',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide dish type</small
                                    >
                                </div>
                                <div class="mb-3 form-group col-md-3">
                                    <label for="spicy" class="required"
                                        >Spicy</label
                                    >
                                    <ng-select
                                        class="custom"
                                        name="spicy"
                                        formControlName="spicy"
                                        [multiple]="false"
                                    >
                                        <ng-option
                                            [value]="data.result"
                                            *ngFor="let data of spicy"
                                            >{{
                                                data.name | titlecase
                                            }}</ng-option
                                        >
                                    </ng-select>
                                    <small
                                        *ngIf="
                                            checkForError('spicy', 'required')
                                        "
                                        class="text-danger"
                                        >Please provide spicy value</small
                                    >
                                </div>
                                <div class="col-md-3">
                                    <label
                                        for="type"
                                        class="form-label required"
                                        >Dish Availability</label
                                    >
                                    <ng-select
                                        formControlName="dishOrderOption"
                                    >
                                        <ng-option
                                            aria-selected="true"
                                            value="delivery"
                                        >
                                            Delivery</ng-option
                                        >
                                        <ng-option value="takeAway"
                                            >Take Away</ng-option
                                        >
                                        <ng-option value="both">Both</ng-option>

                                        <!-- add option of none in dish availability -->

                                        <ng-option value="none"
                                            >Out of Stock</ng-option
                                        >
                                    </ng-select>
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishOrderOption',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide dish Availability</small
                                    >
                                </div>
                                <div class="col-md-3">
                                    <label
                                        for="type"
                                        class="form-label required"
                                        >Dish Order Availability</label
                                    >
                                    <ng-select
                                        formControlName="dishOrderAvailability"
                                    >
                                        <ng-option
                                            aria-selected="true"
                                            value="dineIn"
                                        >
                                            Dine In</ng-option
                                        >
                                        <ng-option value="otherthandinein"
                                            >Other Than Dine In</ng-option
                                        >
                                        <ng-option value="all">All</ng-option>

                                        <!-- add option of none in dish availability -->
                                    </ng-select>
                                    <small
                                        *ngIf="
                                            checkForError(
                                                'dishOrderOption',
                                                'required'
                                            )
                                        "
                                        class="text-danger"
                                        >Please provide dish Availability</small
                                    >
                                </div>
                                <div class="col-2 verify-button-div"></div>
                            </div>

                            <div class="mb-3">
                                <label for="address" class="form-label"
                                    >Description</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    name="address"
                                    formControlName="dishDescription"
                                    maxlength="130"
                                    placeholder="Description"
                                />
                            </div>
                            <!-- // add non mandatory field of dish priority -->
                            <div class="mb-3">
                                <label for="address" class="form-label"
                                    >Dish Priority</label
                                >
                                <input
                                    type="number"
                                    class="form-control"
                                    name="address"
                                    formControlName="dishPriority"
                                    maxlength="100"
                                    placeholder="Dish Priority"
                                />
                            </div>

                            <div
                                class="mb-3 col-md-8"
                                *ngIf="selectedCategoryName === 'offers'"
                            >
                                <label class="required" for="days"
                                    >Select Days to Run Offer:</label
                                >
                                <ng-select
                                    id="days"
                                    name="days"
                                    [multiple]="true"
                                    formControlName="days"
                                >
                                    <ng-option
                                        *ngFor="let day of allDays"
                                        [value]="day"
                                        >{{ day }}</ng-option
                                    >
                                </ng-select>
                                <small
                                    *ngIf="checkForError('days', 'required')"
                                    class="text-danger"
                                >
                                    Select at least one day.
                                </small>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <file-upload
                                        [control]="control"
                                        accept="image/*"
                                        maxsize="2 MB"
                                        [animation]="false"
                                    >
                                        <ng-template
                                            let-isFileDragDropAvailable="isFileDragDropAvailable"
                                            #placeholder
                                        >
                                            <div *ngIf="control.size === 0">
                                                <div class="icon">
                                                    <i
                                                        class="fa-solid fa-cloud-arrow-up"
                                                    ></i>
                                                </div>

                                                <div class="upload-text">
                                                    <ng-container
                                                        *ngIf="
                                                            isFileDragDropAvailable;
                                                            else isNotDragDropAvailable
                                                        "
                                                    >
                                                        <b>Drag and drop</b>
                                                        files<br />
                                                        or click here
                                                    </ng-container>
                                                    <ng-template
                                                        #isNotDragDropAvailable
                                                    >
                                                        <b>Click here</b>
                                                        to<br />
                                                        choose a files
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </ng-template>

                                        <ng-template
                                            let-i="index"
                                            let-file="file"
                                            let-control="control"
                                            #item
                                        >
                                            <div class="overlay">
                                                <span
                                                    class="delete-button pointer"
                                                    (click)="
                                                        control.removeFile(file)
                                                    "
                                                >
                                                    <i
                                                        class="fa-solid fa-trash"
                                                    ></i>
                                                </span>
                                                <img
                                                    *ngIf="control.valid"
                                                    class="uploadImage"
                                                    [src]="uploadedFile | async"
                                                />
                                            </div>
                                        </ng-template>
                                    </file-upload>
                                </div>
                            </div>

                            <div>
                                <button mat-button (click)="addDish()">
                                    Next
                                </button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step
                        [stepControl]="choicesForm"
                        [editable]="isEditable"
                    >
                        <div class="header_box version_2">
                            <h2><i class="fa fa-list"></i>Choices</h2>
                            <button
                                type="reset"
                                class="btn btn-danger"
                                style="float: right"
                                (click)="addChoicesGroup()"
                            >
                                Add new
                            </button>
                        </div>
                        <div class="wrapper_indent">
                            <div class="strip_menu_items">
                                <form [formGroup]="choicesForm">
                                    <ng-template matStepLabel
                                        >Fill out dishes Choices</ng-template
                                    >

                                    <div class="row">
                                        <div
                                            class="col-xl-12"
                                            formArrayName="choicesGroup"
                                        >
                                            <div class="form-group">
                                                <div
                                                    class="item_opt_wrapper"
                                                    *ngFor="
                                                        let addOn of choicesGroup?.controls;
                                                        let i = index
                                                    "
                                                    [formGroupName]="i"
                                                >
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="required"
                                                                    >Select
                                                                    Choice</label
                                                                >
                                                                <ng-select
                                                                    class="custom"
                                                                    name="choicesId"
                                                                    formControlName="choicesId"
                                                                    [multiple]="
                                                                        false
                                                                    "
                                                                >
                                                                    <ng-option
                                                                        *ngFor="
                                                                            let data of dishChoicesList
                                                                        "
                                                                        [value]="
                                                                            data._id
                                                                        "
                                                                        >{{
                                                                            data.choicesGroupName
                                                                                | titlecase
                                                                        }}</ng-option
                                                                    >
                                                                </ng-select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="d-block"
                                                                    >Action</label
                                                                >
                                                                <i
                                                                    class="fa-solid fa-eye pointer"
                                                                    (click)="
                                                                        openEditDishChoicesDialog(
                                                                            i
                                                                        )
                                                                    "
                                                                ></i>
                                                                <i
                                                                    class="fa-solid fa-circle-plus pointer"
                                                                    style="
                                                                        color: #ae4624;
                                                                    "
                                                                    (click)="
                                                                        openChoicesDialog(
                                                                            choicesGroup
                                                                        )
                                                                    "
                                                                ></i>
                                                                <i
                                                                    class="fa-solid fa-trash bin-color pointer"
                                                                    (click)="
                                                                        deleteDishChoicesField(
                                                                            i
                                                                        )
                                                                    "
                                                                ></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />

                                                    <!-- /row-->
                                                </div>
                                                <button
                                                    type="button"
                                                    (click)="addChoicesGroup()"
                                                    class="btn btn-danger btn-block"
                                                >
                                                    Add New
                                                </button>
                                                <!-- /item_opt_wrapper-->

                                                <!-- /item_opt_wrapper-->
                                            </div>

                                            <!-- End form-group -->
                                        </div>

                                        <!-- End row -->
                                    </div>

                                    <div>
                                        <button mat-button matStepperPrevious>
                                            Back
                                        </button>
                                        <button mat-button matStepperNext>
                                            Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step
                        [stepControl]="variantsForm"
                        [editable]="isEditable"
                    >
                        <div class="header_box version_2">
                            <h2><i class="fa fa-list"></i>Add Variants</h2>
                            <button
                                type="reset"
                                class="btn btn-danger"
                                style="float: right"
                                (click)="addVariants()"
                            >
                                Add new
                            </button>
                        </div>
                        <div class="wrapper_indent">
                            <div class="strip_menu_items">
                                <form [formGroup]="variantsForm">
                                    <ng-template matStepLabel
                                        >Fill out dishes variants</ng-template
                                    >

                                    <div class="row">
                                        <div
                                            class="col-xl-12"
                                            formArrayName="variants"
                                        >
                                            <div class="form-group">
                                                <div
                                                    class="item_opt_wrapper"
                                                    *ngFor="
                                                        let variantsGroup of variants?.controls;
                                                        let i = index
                                                    "
                                                    [formGroupName]="i"
                                                >
                                                    <div class="row">
                                                        <div
                                                            class="col-lg-3 col-md-4"
                                                        >
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="required"
                                                                    >Price</label
                                                                >
                                                                <input
                                                                    type="number"
                                                                    formControlName="price"
                                                                    class="form-control"
                                                                    [ngClass]="
                                                                        checkForVariantsError(
                                                                            i,
                                                                            'price',
                                                                            'required'
                                                                        )
                                                                            ? 'is-invalid'
                                                                            : ''
                                                                    "
                                                                    placeholder="+ ₹350"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-3 col-md-6"
                                                        >
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="required"
                                                                    >Quantity
                                                                    Name</label
                                                                >
                                                                <input
                                                                    type="text"
                                                                    maxlength="50"
                                                                    formControlName="size"
                                                                    [ngClass]="
                                                                        checkForVariantsError(
                                                                            i,
                                                                            'size',
                                                                            'required'
                                                                        )
                                                                            ? 'is-invalid'
                                                                            : ''
                                                                    "
                                                                    class="form-control"
                                                                    placeholder="Ex. Medium"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-3 col-md-6"
                                                        >
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    >Quantity
                                                                    Description</label
                                                                >
                                                                <input
                                                                    type="text"
                                                                    formControlName="sizeDescription"
                                                                    class="form-control"
                                                                    placeholder="Ex. 4 Pieces"
                                                                    maxlength="100"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-1 col-md-6"
                                                        >
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    >Default</label
                                                                >
                                                                <mat-radio-group
                                                                    aria-labelledby="example-radio-group-label"
                                                                    class="example-radio-group"
                                                                    name="primary"
                                                                    [formControl]="
                                                                        this
                                                                            .variantsForm
                                                                            .controls
                                                                            .defaultSize
                                                                    "
                                                                >
                                                                    <mat-radio-button
                                                                        [value]="
                                                                            i
                                                                        "
                                                                    ></mat-radio-button>
                                                                </mat-radio-group>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-lg-1 col-md-1"
                                                        >
                                                            <label
                                                                class="d-block"
                                                                >Action</label
                                                            >
                                                            <i
                                                                class="fa-solid fa-trash bin-color pointer"
                                                                (click)="
                                                                    deleteField(
                                                                        i
                                                                    )
                                                                "
                                                            ></i>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                </div>
                                                <button
                                                    type="button"
                                                    (click)="addVariants()"
                                                    class="btn btn-danger btn-block"
                                                >
                                                    Add New
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <button mat-button matStepperPrevious>
                                            Back
                                        </button>
                                        <button
                                            mat-button
                                            (click)="addVariantToDish()"
                                        >
                                            Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step
                        [stepControl]="addOnGroupForm"
                        [editable]="isEditable"
                    >
                        <div class="header_box version_2">
                            <h2><i class="fa fa-list"></i>Add-Ons</h2>
                            <button
                                type="reset"
                                class="btn btn-danger"
                                style="float: right"
                                (click)="addAddon()"
                            >
                                Add new
                            </button>
                        </div>
                        <div class="wrapper_indent">
                            <div class="strip_menu_items">
                                <form [formGroup]="addOnGroupForm">
                                    <ng-template matStepLabel
                                        >Fill out dishes Add-Ons</ng-template
                                    >

                                    <div class="row">
                                        <div
                                            class="col-xl-12"
                                            formArrayName="addOnGroup"
                                        >
                                            <div class="form-group">
                                                <div
                                                    class="item_opt_wrapper"
                                                    *ngFor="
                                                        let addOn of addOnGroup?.controls;
                                                        let i = index
                                                    "
                                                    [formGroupName]="i"
                                                >
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="required"
                                                                    >Add On
                                                                    Group</label
                                                                >
                                                                <ng-select
                                                                    class="custom"
                                                                    name="addOnGroup"
                                                                    formControlName="addOnGroupId"
                                                                    [multiple]="
                                                                        false
                                                                    "
                                                                >
                                                                    <ng-option
                                                                        [value]="
                                                                            data._id
                                                                        "
                                                                        *ngFor="
                                                                            let data of addOnsList
                                                                        "
                                                                        >{{
                                                                            data.addOnGroupName
                                                                                | titlecase
                                                                        }}</ng-option
                                                                    >
                                                                </ng-select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="required"
                                                                    >Size</label
                                                                >
                                                                <ng-select
                                                                    class="custom"
                                                                    name="addOnGroup"
                                                                    formControlName="size"
                                                                    [multiple]="
                                                                        false
                                                                    "
                                                                >
                                                                    <ng-option
                                                                        [value]="
                                                                            data.size
                                                                        "
                                                                        *ngFor="
                                                                            let data of sizesAvailable
                                                                        "
                                                                        >{{
                                                                            data.size
                                                                                | titlecase
                                                                        }}</ng-option
                                                                    >
                                                                </ng-select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div
                                                                class="form-group"
                                                            >
                                                                <label
                                                                    class="d-block"
                                                                    >Action</label
                                                                >
                                                                <i
                                                                    class="fa-solid fa-eye pointer"
                                                                    (click)="
                                                                        openEditAddonDialog(
                                                                            i
                                                                        )
                                                                    "
                                                                ></i>
                                                                <i
                                                                    class="fa-solid fa-circle-plus pointer"
                                                                    style="
                                                                        color: #ae4624;
                                                                    "
                                                                    (click)="
                                                                        openAddOnDialog()
                                                                    "
                                                                ></i>
                                                                <i
                                                                    class="fa-solid fa-trash bin-color pointer"
                                                                    (click)="
                                                                        deleteAddonField(
                                                                            i
                                                                        )
                                                                    "
                                                                ></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <!-- /row-->
                                                </div>
                                                <button
                                                    type="button"
                                                    (click)="addAddon()"
                                                    class="btn btn-danger btn-block"
                                                >
                                                    Add New
                                                </button>
                                                <!-- /item_opt_wrapper-->

                                                <!-- /item_opt_wrapper-->
                                            </div>

                                            <!-- End form-group -->
                                        </div>

                                        <!-- End row -->
                                    </div>

                                    <div>
                                        <button mat-button matStepperPrevious>
                                            Back
                                        </button>
                                        <button
                                            mat-button
                                            (click)="addAddOnToDish()"
                                        >
                                            Next
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="saveDish()">
                                Save
                            </button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
</div>
