<div class="small-dialog-header">
    <h3>
        {{ headingStr }}
    </h3>
    <a mat-dialog-close class="close_panel_mobile"
        ><span class="icon_close_alt"></span
    ></a>
</div>
<mat-dialog-content class="no-scroll">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name " class="required">Name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Enter name"
                required
            />
            <small *ngIf="checkForError('name', 'required')" class="text-danger"
                >Please provide name
            </small>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input
                type="tel"
                class="form-control"
                id="phoneNumber"
                formControlName="phoneNumber"
                placeholder="Enter phone number"
            />
            <small
                *ngIf="checkForError('phoneNumber', 'pattern')"
                class="text-danger"
                >Please provide valid phone number
            </small>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" class="btn btn_1 gradient w-100" (click)="onSubmit()">
        Proceed to payment (
        {{ amountToBePaid | currency : "INR" : "symbol" : "1.0-0" }}
        )
    </button>
</mat-dialog-actions>
